@media all and (max-width: 670px) {

  .top-wrapper {
    text-align: left;
  }

  /* header-rightクラスのdisplayをnoneに指定してください */
  .header-right{
    display:none;
  }

  /* menu-iconクラスのdisplayをblockに指定してください  */
  .menu-bar{
    display:block;
  }

  .top-wrapper h1 {
    font-size: 28px;
  }

  .top-wrapper h2 {
    font-size: 18px;
  }

  .section-wrapper{

  }

  .selection-wrapper a{
    float:left;
    font-size: 23px;
    text-align: center;
    width:100%;
    padding:10px 20px;
    margin:15px 0;
  }
}
