*{
  box-sizing:border-box;
}

.title {
  color: #02ccba;
  opacity:0.8;
}

body{
  font-family:"Avenir Next";
}



.header-logo{
  display:inline-block
  padding:40px;
  text-align: left;
  font-size:21px;
}

.header-logo:hover{
  color:red;
  cursor:pointer;
}

header{
  background-color: gray;
  height:50px;
}

.header-wrapper{
  color:white;
  width:95%;
  margin:0 auto;
  line-height:50px;
}

.header-link{
  background-color:white;
  display:inline-block;
  float:right;
  padding: 0 10px;
}

.fa-bars{
  display:inline-block;
  float:right;
  padding-top:15px;
  font-size:20px;
}


.container{
  margin:0 auto;
  width:100%;
}

.top-wrapper{
  text-align: center;
  margin-top:100px;
}

.top-wrapper h2{
  font-size:20px;
  font-weight: normal;
}
