*{
  box-sizing:border-box;
}



body{
  font-family:"Hiragino Kaku Gothic ProN", sans-serif;
  margin:0;

}

.title {
  color: aqua;
  opacity:0.9;
}

.container{
  margin:0 auto;
  width:95%;
}


.header-logo{
  display:inline-block
  padding:40px;
  text-align: left;
  font-size:21px;
}

.header-logo:hover{
  color:darkred;
  cursor:pointer;
}

header{
  background-color: gray;
  height:50px;
  opacity:0.9;
  position:fixed;
  top:0;
  width:100%;
  z-index:10;
}

.header-left{
  color:white;
  line-height:50px;
  float:left;
}

.header-right{
  float: right;
  margin-right: 25px;
}

.header-right a{
  float:left;
  padding: 0 10px;
  color:white;
  line-height:50px;
}

 .fab{
   margin-right:5px;
 }

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menue-bar{
  display:inline-block;
  float:right;
  padding-top:15px;
  font-size:20px;
  display:none;
}

.top-wrapper{
  background-image: url(https://github.com/engineer-yadokari/engineer-yadokari/blob/master/images/DSC_0169.JPG?raw=true);
  background-size:cover;
  height:800px;
  text-align: center;
}

.title-wrapper{
  padding-top:100px;
}

.title-wrapper h2{
  color:white;
  font-size:20px;
  font-weight: normal;
}

footer{
  height:200px;
  background-color:dimgray;
}
